.user-forms-widget-panels .panel {
  display: none;
}
.user-forms-widget-panels .panel.default {
  display: block;
}

#user-register-form .description {
  display: none;
}

#user-profile-form .form-item select {
  width: auto;
}

#user-profile-form .filter-wrapper {
  display: none;
}
