form.node-media-form .filter-wrapper,
form.node-media-form .vertical-tabs,
form.node-media-form .vertical-tabs-panes {
  display: none;
}

/* Force full container-12 width. Parent (grid-10) is 81.333% of container-12 width. */
.grid-10 .block-embed-type-button-add.action-media-collection.expanded {
  width: 122.95132% !important;
}

form.add-to-collection legend {
  display: none;
}

form.add-to-collection .step.visible {
  display: block;
}
form.add-to-collection .step {
  display: none;
}
form.add-to-collection .step.step-2 {
  margin: 2em 0 0 0;
}
form.add-to-collection .stepholder p {
  margin: 1em 0;
}

.node-media .album-checkbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: #fff;
  border: solid 1px #999;
}
.node-media .album-checkbox .form-item {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}
.node-media .album-checkbox label {
  display: none;
}

/*
 * YouTube thumbnails.
 * @see totem_media_node_view()
 */
.wrapper-media-thumb {
  overflow: hidden !important;
}
.wrapper-media-thumb img.media-thumb {
  display: block;
  width: 100%;
}

ul#media-collection-sort {
  border: 1px dotted #000;
  padding: 20px;
}

ul#media-collection-sort > li {
  display: block;
  float: left;
  margin: 0 20px 20px 0;
}

ul#media-collection-sort > li .node {
  cursor: move;
}
ul#media-collection-sort > li .node .node-title {
  font-size: 15px;
  font-size: 1.5rem;
  margin: 8px 0 0 0;
}

/* Avoid showing contextual links while dragging. */
ul#media-collection-sort > li.ui-sortable-helper .node ul.contextual-links li a {
  display: none !important;
}

/**
 * Specific rules for when media gallery mode is enabled.
 */

.totem-media-gallery-on .node-media.node-teaser {
  float: left;
  position: relative;
}

/**
 * Specific rules for when media gallery mode is disabled.
 */

.totem-media-gallery-off .child-media-nodes .node-media.node-teaser {
  float: left;
  width: 45%;
}
.totem-media-gallery-off .child-media-nodes .node-media.node-teaser.even {
  margin-right: 10%;
}
.totem-media-gallery-off .node-media.node-teaser img.file-icon {
  display: block;
  float: left;
  margin-right: 5px;
}

.totem-media-gallery-off ul#media-collection-sort .node {
  background-color: #def3fb;
  padding: 2.5em 1em;
  text-align: center;
  width: 140px;
}
.totem-media-gallery-off ul#media-collection-sort .node .node-title {

}
.totem-media-gallery-off ul#media-collection-sort .node img.file-icon {

}
