/*
Tooltips.
*/
#tooltip {
  background: #fff;
  border: solid 1px rgba(0, 0, 0, .10);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  opacity: .90;
  padding: 3px;
  position: absolute;
  z-index: 3000;
}
#tooltip > .body {
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  padding: 8px 10px;
}
#tooltip div, #tooltip h3, #tooltip p {
  margin: 0;
}
#tooltip h3 {
  color: #fff;
  margin: 0 0 .5em 0;
}

/*
Contextual links.
*/
.contextual-links-region {
  outline: 0;
}
a.contextual-links-trigger {
  display: none !important;
}
div.contextual-links-wrapper {
  height: 90px;
  right: 0;
  width: 20px;
}

div.contextual-links-wrapper ul.contextual-links {
  background: none;
  border: 0 none;
  border-radius: 0;
  display: block !important;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  width: 20px;
  z-index: 100;
}
ul.contextual-links li {
  background: none;
  list-style: none outside none;
  margin: 0;
}
ul.contextual-links li a {
  display: none;
}

.node-teaser ul.contextual-links,
.node-teaser-sort ul.contextual-links,
.node-recent-entity ul.contextual-links,
.comment ul.contextual-links,
.user-profile ul.contextual-links {
  display: none !important;
}
.node-teaser ul.contextual-links li a,
.node-teaser-sort ul.contextual-links li a,
.node-recent-entity ul.contextual-links li a,
.comment ul.contextual-links li a,
.user-profile ul.contextual-links li a {
  display: block;
  margin: 0;
  padding: 0;
}
.node-teaser:hover ul.contextual-links li a,
.node-teaser-sort:hover ul.contextual-links li a,
.node-recent-entity:hover ul.contextual-links li a,
.comment:hover ul.contextual-links li a,
.user-profile:hover ul.contextual-links li a {
  background: #ededf1 url('img/contextual-links.png') left top no-repeat;
  border-bottom: 1px solid white;
  -moz-box-shadow: 0 0 1px 1px #bebebe;
  -webkit-box-shadow: 0 0 1px 1px #bebebe;
  box-shadow: 0 0 1px 1px #bebebe;
  float: right;
  height: 20px;
  margin-top: 0;
  width: 20px;
}
.node-teaser:hover ul.contextual-links li a:hover,
.node-teaser-sort:hover ul.contextual-links li a:hover,
.node-recent-entity:hover ul.contextual-links li a:hover,
.comment:hover ul.contextual-links li a:hover,
.user-profile:hover ul.contextual-links li a:hover {
  background-color: #fff;
}

.node-full .node-links-contextual ul li {
  margin: 0 20px 0 0;
}
.node-full .node-links-contextual ul li {
  background: transparent url('img/contextual-links.png') left center no-repeat;
  padding: 3px 0 3px 24px;
}

.node-teaser:hover ul.contextual-links li.node-modal-remove- a,
.node-teaser:hover ul.contextual-links li.media-remove-coll a,
.node-teaser-sort:hover ul.contextual-links li.node-modal-remove- a,
.node-teaser-sort:hover ul.contextual-links li.media-remove-coll a,
.node-recent-entity:hover ul.contextual-links li.node-modal-remove- a,
.node-recent-entity:hover ul.contextual-links li.media-remove-coll a,
.node-full .node-links-contextual li.node-modal-remove-,
.user-profile:hover ul.contextual-links li.user-modal-remove- a {
  background-position: -5px -28px; /* minus sign */
}
.node-teaser:hover ul.contextual-links li.node-modal-report- a,
.node-teaser-sort:hover ul.contextual-links li.node-modal-report- a,
.node-recent-entity:hover ul.contextual-links li.node-modal-report- a,
.node-full .node-links-contextual li.node-modal-report-,
.user-profile:hover ul.contextual-links li.user-modal-block- a,
.comment:hover ul.contextual-links li.comment-report a {
  background-position: -5px -85px; /* warning triangle */
}
.node-teaser:hover ul.contextual-links li.node-modal-edit a,
.node-teaser:hover ul.contextual-links li.node-edit-media-collection a,
.node-teaser-sort:hover ul.contextual-links li.node-modal-edit a,
.node-recent-entity:hover ul.contextual-links li.node-modal-edit a,
.node-recent-entity:hover ul.contextual-links li.node-edit-media-collection a,
.comment:hover ul.contextual-links li.comment-edit a,
.comment:hover ul.contextual-links li.comment-reply a,
.node-full .node-links-contextual li.node-modal-edit,
.node-full .node-links-contextual li.node-edit-media-collection {
  background-position: -6px -2px; /* pencil */
}
.node-teaser:hover ul.contextual-links li.node-modal-delete a,
.node-teaser-sort:hover ul.contextual-links li.node-modal-delete a,
.node-recent-entity:hover ul.contextual-links li.node-modal-delete a,
.comment:hover ul.contextual-links li.comment-delete a,
.node-full .node-links-contextual li.node-modal-delete {
  background-position: -5px -56px; /* trash can */
}
.comment:hover ul.contextual-links li.comment-message a,
.node-full .node-links-contextual li.privatemsg_link {
  background-position: -5px -210px; /* envelope */
}
.user-profile:hover ul.contextual-links li.user-permissions- a {
  background-position: -7px -116px; /* wrench */
}

/*
Member + Community avatar images.
*/
div.community-image,
a.community-image,
.profile .user-picture,
.user-picture,
.user-profile .tooltip-info {
  background: #fff;
  border: solid 1px rgba(0, 0, 0, .10);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  float: left;
  padding: 3px;
}
.node-teaser .user-picture,
.comment .user-picture,
.recent-entity .user-picture {
  float: left;
  height: 50px;
  margin: 0 1em 0 0;
  width: 50px;
}
/**
* TODO: Correct nested .user-picture.
*/
.pager-entity .user-picture .user-picture {
  border: 0;
  margin: 0;
  padding: 0;
}
a.community-image img,
div.community-image img,
.profile .user-picture img,
.user-picture img,
.user-profile img.user-thumb {
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: left;
  height: 50px;
  width: 50px;
}

/* Show larger picture on top-level Members list
  and individual community's Members list. */
div.community-image img,
.block.user-profile .profile-image img,
.page-members .block-system-main .user-profile img.user-thumb,
.page-node-members .list-user .user-profile img.user-thumb {
  height: 100px;
  width: 100px;
}

.block.user-profile .profile-image,
.block.user-profile .profile-welcome {
  float: left;
  margin: 0 1em 0 0;
}
.block.user-profile .profile-welcome a.btn {
  margin: 1em 0;
}
