/*
Modal windows.
*/
#modalContent {
  height: auto !important;
  left: 0 !important;
  margin: 0 auto !important;
  max-width: 920px;
  right: 0 !important;
  top: 0 !important;
  width: 84% !important;
}
#modalContent.ctools-modal-target-user-modal-register,
#modalContent.ctools-modal-target-user-modal-login,
#modalContent.ctools-modal-target-user-modal-password,
#modalContent.ctools-modal-target-node-modal-delete,
#modalContent.ctools-modal-target-node-modal-remove,
#modalContent.ctools-modal-target-node-modal-report,
#modalContent.ctools-modal-target-user-modal-block,
#modalContent.ctools-modal-target-user-modal-remove,
#modalContent.ctools-modal-target-user-modal-invite,
#modalContent.ctools-modal-target-user-modal-leave,
#modalContent.ctools-modal-target-user-modal-message,
#modalContent.ctools-modal-target-node-modal-remove-from-collection {
  margin-top: 10% !important;
  width: 380px !important;
}
div.ctools-modal-content {
  background: transparent;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
  height: auto !important;
  margin: 15% 0 0 0;
  padding: 0;
  position: relative;
  width: 100% !important;
}
div.ctools-modal-content .modal-content {
  background: #fff;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100% !important;
  overflow-y: auto;
  padding: 1em !important;
  width: auto !important;
}
div.ctools-modal-content .modal-content > *:last-child {
  margin-bottom: 1em;
}
div.ctools-modal-content .modal-header {
  background-position: 0 -1px;
  background-repeat: repeat-x;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
}
div.ctools-modal-content .modal-title {
  padding: 0;
}
div.ctools-modal-content a.close {
  display: block;
  text-transform: lowercase;
}
div.ctools-modal-content a.close img {
  display: none;
}
/*
Forms resets.
*/
div.ctools-modal-content .form-item label {
  padding: 0;
  width: 30%;
}
div.ctools-modal-content .filter-wrapper {
  display: none;
}
div.ctools-modal-content .form-item select,
div.ctools-modal-content .form-item textarea {
  width: auto;
}
div.ctools-modal-content .resizable-textarea .grippie {
  display: none;
}
div.ctools-modal-content .resizable-textarea {
  margin: 0;
}
div.ctools-modal-content .modal-content .form-actions {
  line-height: 27px;
  margin: 1em 0 0 0;
  text-transform: lowercase;
}
div.ctools-modal-content .modal-content .form-actions .btn {
  margin: 0 .5em 0 0;
}
div.ctools-modal-content .modal-content .item-list:last-child {
  margin: 1em 0 0 0;
}
div.ctools-modal-content .modal-content li {
  margin: 0 0 .5em 0;
}
div.ctools-modal-content .modal-content li:last-child {
  margin: 0;
}
div.ctools-modal-content .modal-content div.vertical-tabs {
  display: none;
}
