@import url('//fonts.googleapis.com/css?family=Ubuntu:400,700|Raleway');

#page p.is-logo {
  height: 40px;
  line-height: 40px;
  margin: 0 0 1em 0;
  padding: 0;
  position: relative;
}
#page p.is-logo a {
  background: url(img/sprite.png) no-repeat 0 0;
  display: block;
  height: 40px;
  margin: 1px 0 0 80px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 184px;
}
#page p.social {
  margin: 0 0 1em 0;
  padding: 0;
}
#page p.social a.facebook,
#page p.social a.twitter {
  background: url(img/sprite.png) no-repeat 0 -75px;
  display: block;
  float: left;
  height: 35px;
  margin: 0 1em 1em 0;
  opacity: .80;
  overflow: hidden;
  text-indent: -9999px;
  width: 35px;
}
#page p.social a.twitter {
  background-position: 0 -40px;
}
#page p.social a:hover {
  opacity: 1.0;
}
html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  color: #14a5ec;
  outline: 0;
  text-decoration: none;
}
a:hover {
  color: #f36523;
}

ul.menu, ul.menu li, ul.menu li a, ul.actions, ul.actions li, ul.tabs, ul.tabs li, ul.tabs li a, .item-list ul, .item-list ul li {
  border: 0;
  display: block;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.item-list ul li {
  float: none;
}

table {
  width: 100%;
}
