/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  float: right;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.omega {
  margin-left: 0 !important;
  margin-right: 1%;
}

.alpha {
  margin-left: 1%;
  margin-right: 0 !important;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 0;
  padding-right: 8.333%;
}

.container-12 .prefix-2 {
  padding-left: 0;
  padding-right: 16.667%;
}

.container-12 .prefix-3 {
  padding-left: 0;
  padding-right: 25.0%;
}

.container-12 .prefix-4 {
  padding-left: 0;
  padding-right: 33.333%;
}

.container-12 .prefix-5 {
  padding-left: 0;
  padding-right: 41.667%;
}

.container-12 .prefix-6 {
  padding-left: 0;
  padding-right: 50.0%;
}

.container-12 .prefix-7 {
  padding-left: 0;
  padding-right: 58.333%;
}

.container-12 .prefix-8 {
  padding-left: 0;
  padding-right: 66.667%;
}

.container-12 .prefix-9 {
  padding-left: 0;
  padding-right: 75.0%;
}

.container-12 .prefix-10 {
  padding-left: 0;
  padding-right: 83.333%;
}

.container-12 .prefix-11 {
  padding-left: 0;
  padding-right: 91.667%;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-left: 8.333%;
  padding-right: 0;
}

.container-12 .suffix-2 {
  padding-left: 16.667%;
  padding-right: 0;
}

.container-12 .suffix-3 {
  padding-left: 25.0%;
  padding-right: 0;
}

.container-12 .suffix-4 {
  padding-left: 33.333%;
  padding-right: 0;
}

.container-12 .suffix-5 {
  padding-left: 41.667%;
  padding-right: 0;
}

.container-12 .suffix-6 {
  padding-left: 50.0%;
  padding-right: 0;
}

.container-12 .suffix-7 {
  padding-left: 58.333%;
  padding-right: 0;
}

.container-12 .suffix-8 {
  padding-left: 66.667%;
  padding-right: 0;
}

.container-12 .suffix-9 {
  padding-left: 75.0%;
  padding-right: 0;
}

.container-12 .suffix-10 {
  padding-left: 83.333%;
  padding-right: 0;
}

.container-12 .suffix-11 {
  padding-left: 91.667%;
  padding-right: 0;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  right: 8.333%;
}

.container-12 .push-2 {
  right: 16.667%;
}

.container-12 .push-3 {
  right: 25.0%;
}

.container-12 .push-4 {
  right: 33.333%;
}

.container-12 .push-5 {
  right: 41.667%;
}

.container-12 .push-6 {
  right: 50.0%;
}

.container-12 .push-7 {
  right: 58.333%;
}

.container-12 .push-8 {
  right: 66.667%;
}

.container-12 .push-9 {
  right: 75.0%;
}

.container-12 .push-10 {
  right: 83.333%;
}

.container-12 .push-11 {
  right: 91.667%;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  right: -8.333%;
}

.container-12 .pull-2 {
  right: -16.667%;
}

.container-12 .pull-3 {
  right: -25.0%;
}

.container-12 .pull-4 {
  right: -33.333%;
}

.container-12 .pull-5 {
  right: -41.667%;
}

.container-12 .pull-6 {
  right: -50.0%;
}

.container-12 .pull-7 {
  right: -58.333%;
}

.container-12 .pull-8 {
  right: -66.667%;
}

.container-12 .pull-9 {
  right: -75.0%;
}

.container-12 .pull-10 {
  right: -83.333%;
}

.container-12 .pull-11 {
  right: -91.667%;
}
