body.responsive-layout-state00 .container-12 .grid-1,
body.responsive-layout-state00 .container-12 .grid-2,
body.responsive-layout-state00 .container-12 .grid-3,
body.responsive-layout-state00 .container-12 .grid-4,
body.responsive-layout-state00 .container-12 .grid-5,
body.responsive-layout-state00 .container-12 .grid-6,
body.responsive-layout-state00 .container-12 .grid-7,
body.responsive-layout-state00 .container-12 .grid-8,
body.responsive-layout-state00 .container-12 .grid-9,
body.responsive-layout-state00 .container-12 .grid-10,
body.responsive-layout-state00 .container-12 .grid-11,
body.responsive-layout-state00 .container-12 .grid-12 {
  width: 98.0%;
}
body.responsive-layout-state00 .container-12 .push-6,
body.responsive-layout-state00 .container-12 .pull-6 {
  left:0.0%;
}

body.admin-menu.responsive-layout-state00 #admin-menu {
  display: none;
}
body.admin-menu.responsive-layout-state00 {
    margin-top: 0 !important;
}

body.totem-ui.responsive-layout-state00 .brand {
  margin: 1em 0;
}
body.totem-ui.responsive-layout-state00 .brand,
body.totem-ui.responsive-layout-state00 .brand a {
  height: 25px;
  overflow: hidden;
}
body.totem-ui.responsive-layout-state00 .brand img {
  margin: -53px 0 0 -58px;
}
body.totem-ui.responsive-layout-state00 .brand .site-name {
  display: block;
  float: none;
}
body.totem-ui.responsive-layout-state00 .brand .site-name a {
  background: url(img/sprite.png) no-repeat -221px -29px;
  cursor: pointer;
  display: block;
  float: none;
  height: 5px;
  line-height: 5px;
  margin: 13px -8px 0 0;
  overflow: hidden;
  padding: 10px 8px 10px 8px;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  width: 10px;
  z-index: 1;
}
body.totem-ui.responsive-layout-state00 .brand .site-name a.expanded {
  background-position: -241px -29px;
}
body.totem-ui.responsive-layout-state00 #region-header-second,
body.totem-ui.responsive-layout-state00.hide-menu #region-header-menu {
  display: none;
}
body.totem-ui.responsive-layout-state00 #section-header,
body.totem-ui.responsive-layout-state00 #page.tabs #zone-preface-wrapper {
  background-image: none;
}
body.totem-ui.responsive-layout-state00 #page.tabs #zone-preface-wrapper #region-content-top {
  padding-bottom: 0;
}
body.totem-ui.responsive-layout-state00 #section-header .nav ul.menu,
body.totem-ui.responsive-layout-state00 #section-header .nav ul.menu li,
body.totem-ui.responsive-layout-state00 #section-header .nav ul.menu li.active-trail:first-child,
body.totem-ui.responsive-layout-state00 #section-header .nav ul.menu li a,
body.totem-ui.responsive-layout-state00 #tabs,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs li,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs li.active:first-child,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs li a {
  border: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
body.totem-ui.responsive-layout-state00 #section-header .nav ul.menu li,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs li {
  border-top: solid 1px rgba(0, 0, 0, .10);
}
body.totem-ui.responsive-layout-state00 #page #section-header .nav ul.menu li.active:hover a,
body.totem-ui.responsive-layout-state00 #page #section-header .nav ul.menu li.active-trail a {
  background: transparent;
}
body.totem-ui.responsive-layout-state00 #tabs ul.tabs {
  border: solid 1px rgba(0, 0, 0, .10);
  margin: 1em 0;
  overflow: hidden;
}
body.totem-ui.responsive-layout-state00 #tabs ul.tabs li a {
  padding: 0 1.25em;
}
body.totem-ui.responsive-layout-state00 #section-header .nav ul.menu > li.expanded:hover,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs > li.more:hover {
  border-right: 0;
}
body.totem-ui.responsive-layout-state00 #section-header .nav ul.menu > li.expanded:hover a,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs > li.more:hover a {
  background: transparent;
}
body.totem-ui.responsive-layout-state00 #section-header .nav ul.menu > li.expanded:hover ul,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs > li.more:hover ul,
body.totem-ui.responsive-layout-state00 #tabs ul.tabs li.more {
  display: none;
}

body.totem-ui.responsive-layout-state00 #region-footer-first .block {
  float: none;
}

body.totem-ui.responsive-layout-state00 #modalContent {
  width: 90% !important;
}
