/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4, .push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8, .push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

.container-12 {
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-12 .grid-1 {
  width: 6.333%;
}

.container-12 .grid-2 {
  width: 14.667%;
}

.container-12 .grid-3 {
  width: 23.0%;
}

.container-12 .grid-4 {
  width: 31.333%;
}

.container-12 .grid-5 {
  width: 39.667%;
}

.container-12 .grid-6 {
  width: 48.0%;
}

.container-12 .grid-7 {
  width: 56.333%;
}

.container-12 .grid-8 {
  width: 64.667%;
}

.container-12 .grid-9 {
  width: 73.0%;
}

.container-12 .grid-10 {
  width: 81.333%;
}

.container-12 .grid-11 {
  width: 89.667%;
}

.container-12 .grid-12 {
  width: 98.0%;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-12 .prefix-1 {
  padding-left: 8.333%;
}

.container-12 .prefix-2 {
  padding-left: 16.667%;
}

.container-12 .prefix-3 {
  padding-left: 25.0%;
}

.container-12 .prefix-4 {
  padding-left: 33.333%;
}

.container-12 .prefix-5 {
  padding-left: 41.667%;
}

.container-12 .prefix-6 {
  padding-left: 50.0%;
}

.container-12 .prefix-7 {
  padding-left: 58.333%;
}

.container-12 .prefix-8 {
  padding-left: 66.667%;
}

.container-12 .prefix-9 {
  padding-left: 75.0%;
}

.container-12 .prefix-10 {
  padding-left: 83.333%;
}

.container-12 .prefix-11 {
  padding-left: 91.667%;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-12 .suffix-1 {
  padding-right: 8.333%;
}

.container-12 .suffix-2 {
  padding-right: 16.667%;
}

.container-12 .suffix-3 {
  padding-right: 25.0%;
}

.container-12 .suffix-4 {
  padding-right: 33.333%;
}

.container-12 .suffix-5 {
  padding-right: 41.667%;
}

.container-12 .suffix-6 {
  padding-right: 50.0%;
}

.container-12 .suffix-7 {
  padding-right: 58.333%;
}

.container-12 .suffix-8 {
  padding-right: 66.667%;
}

.container-12 .suffix-9 {
  padding-right: 75.0%;
}

.container-12 .suffix-10 {
  padding-right: 83.333%;
}

.container-12 .suffix-11 {
  padding-right: 91.667%;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-12 .push-1 {
  left: 8.333%;
}

.container-12 .push-2 {
  left: 16.667%;
}

.container-12 .push-3 {
  left: 25.0%;
}

.container-12 .push-4 {
  left: 33.333%;
}

.container-12 .push-5 {
  left: 41.667%;
}

.container-12 .push-6 {
  left: 50.0%;
}

.container-12 .push-7 {
  left: 58.333%;
}

.container-12 .push-8 {
  left: 66.667%;
}

.container-12 .push-9 {
  left: 75.0%;
}

.container-12 .push-10 {
  left: 83.333%;
}

.container-12 .push-11 {
  left: 91.667%;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-12 .pull-1 {
  left: -8.333%;
}

.container-12 .pull-2 {
  left: -16.667%;
}

.container-12 .pull-3 {
  left: -25.0%;
}

.container-12 .pull-4 {
  left: -33.333%;
}

.container-12 .pull-5 {
  left: -41.667%;
}

.container-12 .pull-6 {
  left: -50.0%;
}

.container-12 .pull-7 {
  left: -58.333%;
}

.container-12 .pull-8 {
  left: -66.667%;
}

.container-12 .pull-9 {
  left: -75.0%;
}

.container-12 .pull-10 {
  left: -83.333%;
}

.container-12 .pull-11 {
  left: -91.667%;
}
